@model DetailViewModel
@{
    ViewData["Title"] = "NewsDetail";
}
<div class="row">
    <h1 style="color:orange">Haber Detayı</h1>
</div>
<div class="row">
    <h4> @Model.Title </h4>
    <div class="col-12">
        @Model.Content
    </div>
    <div class="col-12">
        @Model.ImageUrl
    </div>
</div>




